<h1>Last Smoke</h1>

<h2>Are you a new or existing user?</h2>

<p><a href="/users/new">I'm a new user!</a></p>
<br>
<p>I have an account</p>
<form action="/users" method="post">
  Username: <input type="text" name= "user_name">

  <input type="submit" value="login">
</form>

<!-- <h3>Fill out the Form below</h3>

<form action="/" method="post">

  <label>Name: </label>
    <input type="text" name="name" value="Name">

  <label>Last Smoke: </label>
    <input type="date" name="last_smoke" value="mm/dd/yyyy">
    <p></p>
  <input type="submit"  value="Submit">
</form> -->
