<h1>Last Smoke</h1>

<h2>Are you a new or existing user?</h2>

<p><a href="/users/new">I'm a new user!</a></p>
<br>
<p>I have an account</p>
<form action="/users" method="post">
  Username: <input type="text" name= "user_name">

  <input type="submit" value="login">
</form>
